*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    padding: 1% 5%;
    align-items: center;
}

header .header-right{
    display: flex;
    flex-direction: row;
    column-gap: 3%;
}

.user-list-title{
    padding-top: 2%;
    padding-left: 3%;
}

.user-list{
    padding: 1% 5% 3%;
}

.user-name{
    color: red;
}

.button-text{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    padding: 1% 3%;
    margin-bottom: 3%;
}

.button-text-title{
    margin-bottom: 1vw;
}

.button-text .update{
    display: flex;
    flex-direction: column;
    /* row-gap: 2vw; */
}

.button-text .update .previous, .next{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 1vw;
}

.update .send-button3{
    display: block;
    width: fit-content;
    margin-left: auto;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:darkslategrey;
    padding: 1% 5%;
    color: white;
}