*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    padding: 1% 5%;
    align-items: center;
}

header .header-right{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    display: none;
}

.user-list-title{
    padding-top: 2%;
    padding-left: 3%;
}

.user-list{
    display: flex;
    flex-wrap: wrap;
    padding: 1% 5% 1%;
    margin: 2% 3% 3%;
    border: solid 1px red;
}

.user-name{
    color: black;
    margin: 5px 20px 5px;
}

.button-text{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    padding: 1% 3%;
    margin-bottom: 3%;
}

.button-text-title{
    margin-bottom: 1vw;
}

.button-text .update{
    display: flex;
    flex-direction: column;
    /* row-gap: 2vw; */
}

.button-text .update .previous, .next{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 1vw;
}

.update .send-button3{
    display: block;
    width: fit-content;
    margin-left: auto;
}

.RepresentativeSongs .artists{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 5vw;
    padding: 4%;
}

.RepresentativeSongs .artists .artist{
    width: 28%;
    border: solid 1px green;
    padding: calc(2% - 1px);
}

.RepresentativeSongs .artists .artist .artist-name{
    font-size: 2.75vw;
    margin-bottom: 0.5vw;
    font-weight: bold;
}

.RepresentativeSongs .artists .artist-songs{
    margin-left: 2vw;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:darkslategrey;
    padding: 2% 5%;
    color: white;
}

footer .footer-left a{
    text-decoration: none;
    color: aquamarine;
}